.modal-form{
    display: block;
     width: 100%;
  .modal-form-row{
    padding: 6px;
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: 6px;
    display: inline-flex;
    width: 100%;
  }
  label{
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px;
     line-height: 1;
  }
   
  input[type=text].modal-form-input, select.modal-form-input {
    padding: 7px;
    line-height: 1.5;
    width: 200px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    background: #fff;
  }
}

.boldA{
  font-weight: 600;
  color: red;
}
.ProseMirror{ 
  border:0; 
  background: #fff;
}

.edit_topic{
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  width: 100%;
}
.layout-container{
  height: 50px;
  border: 1px dashed #efefef;
  border-radius: 5px;
  background: #f9f9f9;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  &.text-B{
    min-height: 170px;
    height:auto;
    padding: 20px;
    .placeholder{
      text-align: center;
      color: #2c2c2c; 
      padding-top: 50px;
      width: 100%;
    }
  }
  &.text-T{
    height: 50px;
    padding: 7px;
    .placeholder{
      text-align: center;
      color: #2c2c2c;  
      width: 100%;
    }
  }
  &:hover{
    border: 1px dashed #dfc0c0; 
  }
}
input[type=text].modal-form-input 
, select.modal-form-input {
    padding: 7px;
    line-height: 1.5;
    width: 150px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    background: #fff;
  }
  .question-border{
    width: 100%; display: block; border: 1px solid #efefef; border-radius: 3px; padding:10px;
    margin-top: 6px;
  }
  .green-border{
  border: 1px solid #89e23f; 
  background: #effae7;
  }
.imageUpload{
    width: 100px;
}
.table-header{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 10px ;
    padding-bottom: 10px ;
  }
  a.table-buttons{
    padding: 5px;
  }
  a.table-buttons:hover i{
    color: #e44432;
  }

  
ul.my_lists{
    height: 200px;
    margin-right: 20px;
    width: 200px;
    overflow: auto;
    padding-left: 8px;
    direction: rtl;
    background: #fff;
   padding: 10px;
   border-radius: 4px;
}
ul.my_lists li {
    border-bottom: 1px solid #f5f5f5;
    padding: 2px 0px;
    border-radius: 3px;
    margin-bottom: 3px;
    cursor:pointer; 
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
ul.my_lists li.selected {
    color: #d1492b;
    font-weight:600;
    border-radius: 3px;
    margin-bottom: 3px;
    cursor:pointer; 
}
.table_topic{
    width: 100%;
  }
.topic_container{
  display: inline-flex;
  width: 100%;
  flex: 200px auto;

}
.mini-select{
  padding: 2px;
  width: auto;
  font-size:11px;
}

.item-header-content{
border-bottom: 1px solid #efefef;
display: inline-flex;
width: 100%;
margin-bottom: 5px;
padding-bottom: 5px;
}


.addition_field{
  border: 1px solid #89e23f;
  border-radius: 5px;

  padding: 10px;
  width: 100%;
  display: block;
}
.addition_item{
  border: 1px solid #efefef;
    height: 40px;
    display: inline-flex;
    width: 100%;
    cursor: pointer;
    &:hover{
      border: 1px solid #f58f8f; 
      .addition_col{
        border: 1px solid #f58f8f; 
      }
     }
}
.addition_col{
    width: 100%;
    height: 40px;
    border: 1px solid #efefef;

    
    &.c3{
      width: 25%;
    }
    &.c4{
      width: 33%;
    }
    &.c6{
      width: 50%;
    }
    &.c12{
      width: 100%;
    }
    &.c2{
      width: 18%;
    }
}
.new-addition{
   width: 100%;
   text-align: center;
   border: 1px solid #efefef;
   border-radius: 5px;
   padding: 5px;
   display: block;
   color: #89e23f;
}